In [1]:
import pandas as pd
import numpy as np

In [2]:
training_data_path = '../data/underexpose_train/'
underexpose_item_feat = 'underexpose_item_feat.csv'
underexpose_user_feat = 'underexpose_user_feat.csv'

testing_data_path = '../data/underexpose_test/'

In [3]:
col_item = ['item_id', 'txt_vec', 'img_vec']
col_user = ['user_id', 'user_age_level', 'user_gender', 'user_city_level']

underexpose_item_feat = pd.read_csv(training_data_path+underexpose_item_feat, header=None)
underexpose_user_feat = pd.read_csv(training_data_path+underexpose_user_feat, header=None)

In [4]:
underexpose_item_feat.shape

(108916, 257)

In [5]:
#set uder id to be the index
underexpose_user_feat.columns = col_user
underexpose_user_feat = underexpose_user_feat.set_index('user_id')
underexpose_user_feat.head()

         user_age_level user_gender  user_city_level
user_id
17                  8.0           M              4.0
26                  7.0           M              2.0
35                  6.0           F              4.0
40                  6.0           M              1.0
49                  6.0           M              1.0

In [6]:
# delete all '#' from the data

underexpose_item_feat[1] = underexpose_item_feat[1].apply(lambda x: np.float64(x[1:]))
underexpose_item_feat[128] = underexpose_item_feat[128].apply(lambda x: np.float64(x[:-1]))
underexpose_item_feat[129] = underexpose_item_feat[129].apply(lambda x: np.float64(x[1:]))
underexpose_item_feat[256] = underexpose_item_feat[256].apply(lambda x: np.float64(x[:-1]))

In [7]:
underexpose_item_feat.dtypes

0        int64
1      float64
2      float64
3      float64
4      float64
        ...
252    float64
253    float64
254    float64
255    float64
256    float64
Length: 257, dtype: object

In [15]:
def encode(gender):
    if gender == 'F':
        return 1
    else:
        return 0

underexpose_user_feat['user_gender'] = underexpose_user_feat['user_gender'].apply(encode)

In [17]:
underexpose_item_feat.head()

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,42844,4.514945,-2.383720,0.500414,0.407068,-1.995229,0.109078,-0.691775,2.227460,-6.437974,...,-3.374727,-1.506969,-1.820180,-3.024644,0.445263,0.013933,-1.300239,2.759948,2.056171,0.508703
1,67898,-2.002905,-0.929881,0.790017,-1.380895,-0.510463,-1.810096,1.363962,0.497401,-4.038903,...,-0.538330,-2.620164,1.277195,0.601015,-0.345312,0.993457,1.351633,2.162675,2.768597,-0.937197
2,66446,4.221673,-1.497139,1.133570,-2.745607,-4.197045,-0.542392,-1.396256,1.838419,-6.066454,...,-4.582711,-1.056910,-2.568084,-2.038061,2.508719,-0.764789,-0.657116,3.252782,2.687366,0.844332
3,63651,2.657970,-0.941863,1.121529,-5.109496,-0.279041,-0.351968,-1.086983,2.703607,-6.494977,...,-0.487683,-1.889119,0.943015,-2.834418,1.633184,2.001801,-2.333152,2.645595,2.280233,-0.694448
4,46824,3.192195,-1.936676,1.199909,-2.562152,-2.573456,0.575841,-2.358653,1.620844,-4.302936,...,-0.621475,-2.091410,0.501600,-3.083864,-1.060091,2.053600,-2.025008,2.399251,2.562317,0.694134

In [9]:
underexpose_item_feat.to_csv('underexpose_item_feat.csv',index=False)

In [16]:
underexpose_user_feat.to_csv('underexpose_user_feat.csv')